<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          {{labelMenu}}
        </q-toolbar-title>

        <div class="text-white q-gutter-md" style="font-size: 2em">
          <q-icon name="logout" @click="logOut()" />
        </div>
      </q-toolbar>
    </q-header>
      <!-- <q-footer elevated>

        <q-tabs
          switch-indicator
          indicator-color="white"
          class="bg-primary shadow-2"
           @click="navigate()"
          v-model="tab"
        >
          <q-tab
            name="index"
            icon="home" label="Home">
          </q-tab>
          <q-tab
            name="AlertReceived"
            icon="reduce_capacity"
            label="Alert received" />
          <q-tab
            name="tracking"
            icon="navigation"
            label="Tracking" />
        </q-tabs>
      </q-footer> -->
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
    <q-scroll-area
      style="
      height: calc(100% - 170px);
      margin-top: 170px;
      border-right: 1px solid #ddd"
    >
        <q-list padding>
          <EssentialLink v-for="link in essentialLinks" :key="link.title" v-bind="link" />
        </q-list>
      </q-scroll-area>
      <q-list>
        <q-img class="absolute-top" src="../assets/material.png" style="height: 170px">
          <div class="absolute-bottom bg-transparent">
            <q-avatar size="56px" class="q-mb-sm">
              <img src="../assets/boy-avatar.png">
            </q-avatar>
            <div class="text-weight-bold">Razvan Stoenescu</div>
            <div>@rstoenescu</div>
          </div>
        </q-img>
      </q-list>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue';
import { db } from 'boot/firebase';
import { mapActions } from 'vuex';

const linksData = [
  {
    title: 'Home',
    caption: 'quasar.dev',
    icon: 'home',
    link: '/home',
  },
  {
    title: 'Alert received',
    caption: 'quasar.dev',
    icon: 'reduce_capacity',
    link: '/AlertReceived',
  },
  {
    title: 'Tracking',
    caption: 'quasar.dev',
    icon: 'navigation',
    link: '/Tracking',
  },
  {
    title: 'Health book',
    caption: 'quasar.dev',
    icon: 'health_and_safety',
    link: '/HealthBook',
  },
  {
    title: 'Warners',
    caption: 'github.com/quasarframework',
    icon: 'people',
    link: '/Warners',
  },
  {
    title: 'Saviors',
    caption: '@quasarframework',
    icon: 'groups',
    link: '/Saviors',
  },
  // {
  //   title: 'Alert received',
  //   caption: 'chat.quasar.dev',
  //   icon: 'reduce_capacity',
  //   link: '/AlertReceived',
  // },
  {
    title: 'Alert issued',
    caption: 'forum.quasar.dev',
    icon: 'record_voice_over',
    link: '/AlertIssued',
  },
  {
    title: 'Profile',
    caption: '@quasarframework',
    icon: 'person',
    link: '/Profile',
  },
  // {
  //   title: 'Log out',
  //   caption: '@quasarframework',
  //   icon: 'logout',
  //   link: '/',
  // },
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data() {
    return {
      tab: 'index',
      labelMenu: 'Teo Alert',
      leftDrawerOpen: false,
      essentialLinks: linksData,
    };
  },
  setup() {
    return {

    };
  },
  mounted() {
    this.navigate();
  },
  methods: {
    ...mapActions('register', ['logOut']),
    Add() {
      const user = {
        nom: 'fresnel',
        prenom: 'tsafack',
      };
      db.collection('QuasarParticipant').add(user);
    },
    navigate() {
      if (this.tab === 'index') {
        this.$router.push('/home');
        this.labelMenu = 'Home';
      } else if (this.tab === 'AlertReceived') {
        this.$router.push('/AlertReceived');
        this.labelMenu = 'Alert received';
      } else {
        this.$router.push('/Tracking');
        this.labelMenu = 'Tracking';
      }
    },
  },
};
</script>
