<template>
  <div></div>
</template>
<script>
import { defineComponent, ref } from '@vue/composition-api';
import { db } from '../boot/firebase';

export default defineComponent({
  name: 'Connexion',
  data () {
    return {
      tab: 'images',
      user: {
        nom: 'fresnel',
        prenom: 'tsafack'
      }
    }
  },
  setup() {
    return {

    }
  },
  mounted () {
    this.Add()
  },
  methods: {
      Add(){
        let user = {
        nom: 'fresnel',
        prenom: 'tsafack'
      }
        db.collection('QuasarParticipant').add(ref(user));
      }
  },
});
</script>