<template>
  <q-page class="container">
    <div class="row">
      <div class="col-6" v-for="r in reports" :key="r" style="height: 100px;">
        <q-btn
          @click="toAlert(r)"
          class="full-height full-width" :class="r.color" flat
        >
          {{r.label}}
        </q-btn>
      </div>
    </div>
  </q-page>
</template>

<script>
import { Camera, CameraResultType } from '@capacitor/camera';
import { db } from 'boot/firebase';
import { Geolocation } from '@capacitor/geolocation';

export default {
  name: 'PageIndex',
  data() {
    return {
      isPwd: true,
      userDatas: [],
      alert: {
        id: Math.random().toString(36).substring(2),
        userId: this.$q.localStorage.getItem('user').id,
        date: Date.now(),
        description: '',
        image: '',
        video: '',
        type: '',
        position: {
          latitude: '',
          longitude: '',
        },
        citizens: [],
      },
      reports: [
        {
          color: 'bg-red-2',
          label: 'Accident',
        },
        {
          color: 'bg-red-1',
          label: 'Security',
        },
        {
          color: 'bg-red-1',
          label: 'Degradation',
        },
        {
          color: 'bg-red-2',
          label: 'Aggression',
        },
        {
          color: 'bg-red-2',
          label: 'discomfort',
        },
        {
          color: 'bg-red-1',
          label: 'Other ...',
        },
        {
          color: 'bg-red-1',
          label: '',
        },
        {
          color: 'bg-red-2',
          label: '',
        },
      ],
    };
  },
  setup() {
    return {
    };
  },
  mounted() {
    this.getCurrentPosition();
  },
  methods: {
    async toAlert(r) {
      const user = this.$q.localStorage.getItem('user');
      this.alert.type = r.label;
      await this.captureImage();
      await db.collection('InvitationSend').where('CitizenId', '==', user.id)
        .get()
        .then((query) => {
          query.forEach((doc) => {
            if (doc.data().accept) {
              this.alert.citizens.push(doc.data().CitizenAlertedId);
            }
            console.log('query : ', doc.id);
          });
        })
        .catch((error) => {
          console.log('Error getting documents: ', error);
        });
      console.log('this.alert : ', this.alert);
      await db.collection('Alert').doc(this.alert.id).set(this.alert)
        .then(() => {
          this.$q.notify({
            type: 'positive',
            message: 'Action prise en compte',
            position: 'top',
          });
        });
    },
    async captureImage() {
      const image = await Camera.getPhoto({
        quality: 90,
        allowEditing: true,
        resultType: CameraResultType.DataUrl,
      });
      // image.webPath will contain a path that can be set as an image src.
      // You can access the original file using image.path, which can be
      // passed to the Filesystem API to read the raw data of the image,
      // if desired (or pass resultType: CameraResultType.Base64 to getPhoto)
      this.alert.image = image.dataUrl;
    },
    getCurrentPosition() {
      Geolocation.getCurrentPosition().then((position) => {
        console.log('Current', position);
        this.alert.position.latitude = position.coords.latitude;
        this.alert.position.longitude = position.coords.longitude;
      });
    },
  },
};
</script>
