<template>
  <q-page class="container-fluid">
    <!-- <div class="row">
      <div class="col-12 full-width">
        <gmap-map
        :center="{lat:4.0534016, lng:9.7353728 }"
        :zoom="16"
        map-type-id="terrain"
        style="width: 100%; height: 200px"
        >
        </gmap-map>
      </div>
      <div class="col-12">
      </div>
    </div> -->
    <div class="row" v-for="alert in alerts" :key="alert">
      <q-list >
        <q-item clickable v-ripple>
          <q-item-section avatar>
            <q-avatar size="100px" rounded>
              <img style="height: 185px;border-radius: 10%;" class=""
              :src="alert.image">
           </q-avatar>
          </q-item-section>
          <q-item-section>
            <div class="row">
              <div class="col-12">Type d'alerte : {{alert.type}}</div>
              <div class="col-12">
                <q-chip square icon="date">
                  {{new Date(alert.date * 1000).toLocaleString()}}
                </q-chip>
              </div>
              <div class="col-12">
                <q-item
                  tag="a"
                  style="color: blue;"
                  @click="map = true"
                >
                  Voir la position
                </q-item>
                <q-dialog full-width v-model="map">
                  <q-card class="my-card">
                    <q-card-actions align="right">
                      <q-btn v-close-popup flat color="primary" round icon="close" />
                    </q-card-actions>
                    <gmap-map
                    :center="{lat:alert.position.latitude, lng:alert.position.longitude }"
                    :zoom="16"
                    map-type-id="terrain"
                    style="width: 100%; height: 490px"
                    >
                    </gmap-map>
                    <q-separator />
                  </q-card>
                </q-dialog>
              </div>
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
import { Geolocation } from '@capacitor/geolocation';
import { db } from 'boot/firebase';
import * as VueGoogleMaps from 'vue2-google-maps';
import Vue from 'vue';

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyAuZqMZPHy8TmDahGBs84L1Lhtoq3Hdn-s',
  },
});

export default {
  name: 'PageIndex',
  data() {
    return {
      map: false,
      position: null,
      alerts: [],
      user: {
        email: '',
        password: '',
      },
    };
  },
  setup() {
    return {
    };
  },
  mounted() {
    this.getCurrentPosition();
    this.getAlert();
  },
  methods: {
    async getAlert() {
      await db.collection('Alert')
        .get()
        .then((query) => {
          query.forEach((doc) => {
            doc.data().citizens.forEach((elt) => {
              console.log('query : ', doc.data());
              if (elt === this.$q.localStorage.getItem('user').id) {
                this.alerts.push(doc.data());
                console.log('query 1 : ', doc.data());
              }
            });
            console.log('query : ', this.$q.localStorage.getItem('user').id);
          });
        })
        .catch((error) => {
          console.log('Error getting documents: ', error);
        });
      console.log(' this.alerts: ', this.alerts);
    },
    getCurrentPosition() {
      Geolocation.getCurrentPosition().then((position) => {
        console.log('Current', position);
        this.position = position;
      });
    },
  },
};
</script>
