<template>
  <div class="container" style="">
   <q-layout view="lHh Lpr lFf">
    <q-header >
      <q-toolbar>

        <q-toolbar-title class="text-center">
          To login
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
      <q-page-container>
        <q-page class="">
          <q-form
            @submit="logIn(user)"
            class="row q-pa-md "
          >
            <q-avatar style="margin:auto;margin-bottom: 10px;"
            size="156px" class="q-mb-md">
              <img src="../assets/boy-avatar.png">
            </q-avatar>
            <q-input
              filled
              class="col-12 "
              v-model="user.email"
              label="Your email *"
              type="email"
              hint="votre email"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            />
            <q-input class="col-12 q-mt-md" label="Your password *"
              v-model="user.password" filled
              :type="isPwd ? 'password' : 'text'" hint="Votre mot de passe">
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <div class="col-8 q-mt-lg">
              <q-item
                clickable
                tag="a"
                style="color: blue;"
                exact
                to="inscription"
              >
                Create an account ?
              </q-item>
            </div>
            <div class="col-4 q-mt-md">
              <q-btn label="Login" type="submit" color="primary"/>
            </div>
          </q-form>
        </q-page>
      </q-page-container>
   </q-layout>
  </div>
</template>
<script>
import { db } from 'boot/firebase';
import { mapActions } from 'vuex';

export default {
  name: 'Connexion',
  data() {
    return {
      isPwd: true,
      user: {
        email: '',
        password: '',
      },
    };
  },
  setup() {
    return {

    };
  },
  mounted() {

  },
  methods: {
    ...mapActions('register', ['logIn']),
    Add() {
      const user = {
        nom: 'fresnel',
        prenom: 'tsafack',
      };
      db.collection('QuasarParticipant').add(user);
    },
  },
};
</script>
