<template>
  <div class="container">
    <div class="row bg-primary q-mt-sm text-center" style="height: 25px;color: white;">
      <div class="col-10">
        <P>personal information</P>
      </div>
      <div class="col-2 text-white q-gutter-md" style="font-size: 1.7em">
        <q-icon name="edit" @click="dialog = true" />
      </div>
    </div>
    <div class="row q-pa-md">
      <q-chip class="col-5">
        <strong class="q-mr-md">Blood group</strong>
        {{Book.bloodGroup ? Book.bloodGroup : 'N/C'}}
      </q-chip>
      <q-chip class="col-4">
        <strong class="q-mr-md">IMC  </strong>
        {{Book.IMC ? Book.IMC : 'N/C'}}
      </q-chip>
      <q-chip class="col-4">
        <strong class="q-mr-md">Weight</strong>
        {{Book.weight ? Book.weight : 'N/C'}}
      </q-chip>
      <q-chip class="col-4">
        <strong class="q-mr-md">Age</strong>
        {{HealthBook.age ? HealthBook.age : 'N/C'}}
      </q-chip>
      <q-chip class="col-4">
        <strong class="q-mr-md">Size</strong>
        {{Book.size ? Book.size : 'N/C'}}
      </q-chip>
    </div>
    <div class="row bg-primary q-mt-sm text-center" style="height: 25px;color: white;">
      <div class="col-10">
        <P>Allergies Pathologies Various</P>
      </div>
      <div class="col-2 text-white q-gutter-md" style="font-size: 1.7em">
        <q-icon name="add" @click="dialog = true" />
      </div>
    </div>
    <div v-if="!Book.HealthInfos" class="row">
      <p class="text-center">Unspecified</p>
    </div>
    <div v-if="Book.HealthInfos" class="row">
      <q-list>
        <q-item v-for="book in Book.HealthInfos" :key="book.id">
          <q-item-section>
            <q-item-label>
              {{book.healthDisorder + ' ' + book.healthDisorderType}}
            </q-item-label>
            <q-item-label caption lines="2">
              {{book.comment}}
            </q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-icon name="edit" color="yellow" />
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
      </q-list>
    </div>
    <div class="row bg-primary q-mt-sm text-center" style="height: 25px;color: white;">
      <div class="col-10">
        <P>Personal health</P>
      </div>
      <div class="col-2 text-white q-gutter-md" style="font-size: 1.7em">
        <q-icon name="add" @click="dialogDoctor = true" />
      </div>
    </div>
    <div v-if="Doctor" class="row">
      <q-list>
        <q-item>
          <q-item-section>
            <q-item-label>
              {{doctor.firstname + ' ' + doctor.lastname}}
            </q-item-label>
            <q-item-label caption lines="2">
              <q-chip square icon="phone">
                {{doctor.phone}}
              </q-chip>
              <q-chip v-if="doctor.Address.country" square icon="emoji_flags">
                {{doctor.Address.country}}
              </q-chip>
              <q-chip square v-if="doctor.Address.city" icon="location_city">
                {{doctor.Address.city}}
              </q-chip>
              <q-chip square v-if="doctor.Address.district" icon="roofing">
                {{doctor.Address.district}}
              </q-chip>
              <q-chip square v-if="doctor.Address.codePostal" icon="mark_as_unread">
                {{doctor.Address.codePostal}}
              </q-chip>
              <q-chip square v-if="doctor.Address.additionalAddress" icon="info">
                {{doctor.Address.additionalAddress}}
              </q-chip>
            </q-item-label>
          </q-item-section>
          <q-item-section side top>
            <q-icon name="edit" color="yellow" />
          </q-item-section>
        </q-item>
        <q-separator spaced inset />
      </q-list>
    </div>
    <div class="row">
      <q-dialog
        v-model="dialog"
        persistent
        :maximized="maximizedToggle"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
        <q-card class="bg text-black">
          <q-bar>
            <q-space />

            <q-btn dense flat icon="minimize"
              @click="maximizedToggle = false" :disable="!maximizedToggle">
              <q-tooltip v-if="maximizedToggle"
              content-class="bg-white text-primary">Minimize</q-tooltip>
            </q-btn>
            <q-btn dense flat icon="crop_square"
              @click="maximizedToggle = true" :disable="maximizedToggle">
              <q-tooltip v-if="!maximizedToggle"
              content-class="bg-white text-primary">Maximize</q-tooltip>
            </q-btn>
            <q-btn dense flat icon="close" v-close-popup>
              <q-tooltip content-class="bg-white text-primary">
                Close
              </q-tooltip>
            </q-btn>
          </q-bar>

          <q-card-section>
            <div class="text-h6">Update the personnal infos</div>
          </q-card-section>

          <q-card-section class="q-pt-none row">
            <div class="col-12 bg-primary q-mt-sm text-center" style="height: 25px;color: white;">
              <div class="col-10">
                <P>personal information</P>
              </div>
              <div class="col-2 text-white q-gutter-md" style="font-size: 1.7em">
                <q-icon name="edit" @click="dialog = true" />
              </div>
            </div>
            <q-form
              @submit="edit"
              class="row q-mb-sm"
            >
              <q-btn-toggle
                name="genre"
                v-model="HealthBook.bloodGroup"
                label="sex"
                style=""
                size="sm"
                padding="11.6px"
                push
                glossy class="col-12 q-mt-md q-mb-sm"
                toggle-color="primary"
                :options="[
                  {label: 'N/C', value: 'N/C'},
                  {label: 'O+', value: 'O+'},
                  {label: 'O-', value: 'O-'},
                  {label: 'A+', value: 'A+'},
                  {label: 'A-', value: 'A-'},
                  {label: 'B+', value: 'B+'},
                  {label: 'B-', value: 'B-'},
                  {label: 'AB+', value: 'AB+'},
                  {label: 'AB-', value: 'AB-'},
                ]"
              />
              <q-input
                v-model="HealthBook.weight"
                class="col-6 q-pa-sm"
                label="Your weight *"
                filled type="tel"
                mask="####"
                hint=""
              />
              <q-input
                v-model="HealthBook.size"
                class="col-6 q-pa-sm "
                label="Your size *"
                filled type="tel"
                mask="#.##"
                hint=""
              />
              <div class="col-4 q-mt-sm">
                <q-btn label="Edit" type="submit" color="primary"/>
              </div>
            </q-form>
            <div class="col-12 bg-primary q-mt-sm q-mb-md text-center"
            style="height: 25px;color: white;">
              <div class="col-12">
                <P>Allergies Pathologies Various</P>
              </div>
            </div>
            <q-form
              @submit="addHealthInfo"
              class="row"
            >
              <q-select class="col-12 q-mb-md" filled
              v-model="HealthInfo.healthDisorder"
              :options="types" label="Type" />
              <q-select class="col-12 q-mb-md" filled
              v-model="HealthInfo.healthDisorderType"
              :options="subtypes" label="Subtype" />
              <q-input
                v-model="HealthInfo.comment"
                filled class="col-12 q-mb-md"
                label="Comment"
                autogrow
              />
              <div class="col-4 q-mt-sm">
                <q-btn label="Add" type="submit" color="primary"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
      <div class="row">
        <q-dialog
          v-model="dialogDoctor"
          persistent
          :maximized="maximizedToggle"
          transition-show="slide-up"
          transition-hide="slide-down"
        >
          <q-card class="bg text-black">
            <q-bar>
              <q-space />

              <q-btn dense flat icon="minimize"
                @click="maximizedToggle = false" :disable="!maximizedToggle">
                <q-tooltip v-if="maximizedToggle"
                content-class="bg-white text-primary">Minimize</q-tooltip>
              </q-btn>
              <q-btn dense flat icon="crop_square"
                @click="maximizedToggle = true" :disable="maximizedToggle">
                <q-tooltip v-if="!maximizedToggle"
                content-class="bg-white text-primary">Maximize</q-tooltip>
              </q-btn>
              <q-btn dense flat icon="close" v-close-popup>
                <q-tooltip content-class="bg-white text-primary">
                  Close
                </q-tooltip>
              </q-btn>
            </q-bar>

            <q-card-section>
              <div class="text-h6">Personal health</div>
            </q-card-section>

            <q-card-section class="q-pt-none row">
              <q-form
                @submit="addDoctor"
                class="row q-pa-md"
              >
                <q-input
                  filled
                  class="col-12 "
                  v-model="Doctor.firstname"
                  label="Your firstname *"
                  hint=""
                  lazy-rules
                />
                <q-input
                  filled
                  class="col-12 "
                  v-model="Doctor.lastname"
                  label="Your lastname *"
                  hint=""
                  lazy-rules
                />
                <q-input
                  v-model="Doctor.phone"
                  class="col-12 "
                  label="Your phone number *"
                  filled type="tel"
                  mask="# ## ## ## ##"
                  hint=""
                />
                <q-input
                  filled
                  class="col-12 "
                  v-model="Doctor.CNI"
                  label="Your CNI *"
                  hint=""
                  lazy-rules
                />
                <q-input
                  filled label="birthdate *"
                  class="col-7 q-mr-md q-mb-md"
                  v-model="Doctor.birthdate"
                  mask="date"
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy ref="qDateProxy"
                      transition-show="scale" transition-hide="scale">
                        <q-date v-model="Doctor.birthdate">
                          <div class="row items-center justify-end">
                            <q-btn v-close-popup label="Close" color="primary" flat />
                          </div>
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
                <div class="col-4">
                Sex
                  <q-btn-toggle
                    name="genre"
                    v-model="Doctor.sex"
                    label="sex"
                    style=""
                    push
                    glossy class="col-4"
                    toggle-color="primary"
                    :options="[
                      {label: 'M', value: 'Man'},
                      {label: 'W', value: 'Women'}
                    ]"
                  />
                </div>
                <q-select class="col-12 q-mb-md" filled
                v-model="Doctor.Address.country"
                :options="countries" label="Country" />
                <q-select class="col-12 q-mb-md" filled v-model="Doctor.Address.city"
                :options="cities" label="City" />
                <q-input
                  filled
                  class="col-12 q-mb-"
                  v-model="Doctor.Address.district"
                  label="Your district *"
                  hint=""
                  lazy-rules
                />
                <q-input
                  filled class="col-12 q-mb-md"
                  v-model="Doctor.Address.codePostal"
                  label="Postal code"
                  mask="AA ####"
                />
                <q-input
                  v-model="Doctor.Address.additionalAddress"
                  filled class="col-12 q-mb-md"
                  label="Additional address"
                  autogrow
                />
                <div class="col-4 q-mt-sm">
                  <q-btn label="Edit" type="submit" color="primary"/>
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-dialog>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex';

export default {
  name: 'Connexion',
  data() {
    return {
      imageSrc: '',
      countries: [
        'Cameroun', 'Senegale', 'Maroc', 'Tchad', 'Nigeria',
      ],
      cities: ['Yaounde', 'Douala', 'Bafoussam', 'Edéa'],
      types: [
        'Antecedents', 'Pathologies', 'Allergies', 'Treatments', 'Vaccines',
      ],
      subtypes: ['Accident', 'Addiction', 'Asthma', 'Cancer',
        'Loss of consciousness', 'Lung disease', 'Head trauma', 'Covid-19',
      ],
      bool: true,
      dialog: false,
      dialogDoctor: false,
      book: [],
      maximizedToggle: true,
      expanded: false,
      HealthBook: {
        id: Math.random().toString(36).substring(2),
        bloodGroup: '',
        weight: 0,
        size: 0,
        IMC: 0,
        HealthInfos: [],
      },
      HealthInfo: {
        id: Math.random().toString(36).substring(2),
        healthDisorder: '',
        healthDisorderType: '',
        comment: '',
      },
      Doctor: {
        id: Math.random().toString(36).substring(2),
        photo: '',
        lastname: '',
        firstname: '',
        birthdate: '',
        phone: '',
        CNI: '',
        sex: '',
        Address: {
          country: '',
          city: '',
          district: '',
          additionalAddress: '',
          codePostal: '',
          latitude: '',
          longitude: '',
        },
      },
      user: null,
    };
  },
  setup() {
  },
  async mounted() {
    await this.loadUser();
    await this.getHealthBookByUser();
    await this.getDoctorByUser();
  },
  computed: {
    ...mapState('healthBook', ['Book']),
    ...mapState('healthBook', ['doctor']),
    ...mapGetters('healthBook', ['getBook']),
  },
  methods: {
    ...mapActions('register', ['EditUser']),
    ...mapActions('healthBook', ['Edit']),
    ...mapActions('healthBook', ['AddHealthInfo']),
    ...mapActions('healthBook', ['getHealthBookByUser']),
    ...mapActions('healthBook', ['getDoctorByUser']),
    ...mapActions('healthBook', ['AddDoctor']),
    onSubmit() {
    },
    loadUser() {
      this.user = this.$q.localStorage.getItem('user');
      console.log(this.user);
      // this.book = this.getBook();
      console.log('book :', JSON.stringify(this.$store.getters['healthBook/getBook']));
    },
    async edit() {
      const data = {
        id: Math.random().toString(36).substring(2),
        bloodGroup: this.HealthBook.bloodGroup,
        weight: Number.parseFloat(this.HealthBook.weight),
        size: Number.parseFloat(this.HealthBook.size),
        IMC: this.HealthBook.weight / this.HealthBook.size,
        HealthInfos: [],
      };
      await this.Edit(data);
      this.dialog = false;
    },
    async addHealthInfo() {
      // const HealthInfos = {
      //   id: Math.random().toString(36).substring(2),
      //   healthDisorder: '',
      //   healthDisorderType: '',
      //   comment: '',
      // };
      await this.AddHealthInfo(this.HealthInfo);
      this.dialog = false;
    },
    async addDoctor() {
      console.log('doctor : ', this.Doctor);
      await this.AddDoctor(this.Doctor);
      this.dialogDoctor = false;
    },
  },
};
</script>
