<template>
  <q-page class="flex flex-center text-primary">
    <q-avatar style="position: absolute;top:0px;"
    size="369px" class="q-mb-md">
      <img
        alt="Quasar logo"
        src="~assets/alert.png"
      >
    </q-avatar>
    <div style="position: absolute;bottom:40px;left:50px" class="row q-pb-md">
      <q-btn
        size="39px"
        round
        clickable
        exact
        to="Alert"
        color="primary"
        icon="connect_without_contact"
      />
    </div>
    <p class="text-weight-bolder text-h5"
      style="position: absolute;bottom:0px;left:74px">Alert</p>
    <div style="position: absolute;bottom:40px;right:50px" class="row q-pb-md">
      <q-btn
        size="39px"
        round
        clickable
        exact
        to="Report"
        color="primary"
        icon="campaign"
      />
    </div>
    <p class="text-weight-bolder text-h5"
      style="position: absolute;bottom:0%;right:74px">Report</p>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data() {
    return {
      isPwd: true,
      user: {
        email: '',
        password: '',
      },
    };
  },
  setup() {
    return {
    };
  },
  mounted() {

  },
  methods: {
    Add() {
    },
  },
};
</script>
