<template>
  <div class="container" style="">
   <q-layout view="lHh Lpr lFf">
    <q-header >
      <q-toolbar>

        <q-toolbar-title class="text-center">
          Create an accounted
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
      <q-page-container>
        <q-page class="">

        <q-form
          @submit="onSubmit"
          class="row q-pa-md"
        >
          <div v-if="bool" class="col-6 q-mb-xl"
          style="height: 70px;margin:auto;border-raduis:50%;">
            <img v-if="bool" style="height: 70px;border-raduis:50px;"
            class="" :src="imageSrc">
          </div>
          <div class="col-12 q-mt-lg">
            <q-item
              tag="a"
              style="color: blue;"
              @click="captureImage()"
            >
              Take a picture
            </q-item>
          </div>
          <q-input
            filled
            class="col-12 "
            v-model="Citizen.firstname"
            label="Your firstname *"
            hint=""
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />
          <q-input
            filled
            class="col-12 "
            v-model="Citizen.lastname"
            label="Your lastname *"
            hint=""
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />
          <q-input
            v-model="Citizen.phone"
            class="col-12 "
            label="Your phone number *"
            filled type="tel"
            mask="# ## ## ## ##"
            hint=""
          />
          <q-input
            filled
            class="col-12 "
            v-model="Citizen.CNI"
            label="Your CNI *"
            hint=""
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />
          <q-input
            filled label="birthdate *"
            class="col-12"
            v-model="Citizen.birthdate"
            mask="date"
            :rules="['date']"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                  <q-date v-model="Citizen.birthdate">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <q-input
            filled
            class="col-12 "
            v-model="Citizen.Account.email"
            type="email"
            label="Your email *"
            hint=""
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
          />
          <q-input class="col-12 " label="Your password *"
          v-model="Account.password" filled :type="isPwd ? 'password' : 'text'" hint="">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <q-input class="col-12 " label="Confirm your password *"
          v-model="Account.confirmPassword" filled :type="isPwd ? 'password' : 'text'" hint="">
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>
          <div class="col-8 q-mt-md">
            <q-item
              clickable
              tag="a"
              style="color: blue;"
              exact
              to="/"
            >
              To log in ?
            </q-item>
          </div>
          <div class="col-4 q-mt-sm">
            <q-btn label="Submit" type="submit" color="primary"/>
          </div>
        </q-form>
      </q-page>
      </q-page-container>
   </q-layout>

  </div>
</template>
<script>
// import { db } from 'boot/firebase';
import { Camera, CameraResultType } from '@capacitor/camera';
import { mapActions } from 'vuex';

export default {
  name: 'Connexion',
  data() {
    return {
      imageSrc: '',
      isPwd: true,
      bool: false,
      Account: {
        email: '',
        password: '',
        confirmPassword: '',
      },
      Citizen: {
        photo: '',
        lastname: '',
        firstname: '',
        birthdate: '',
        phone: '',
        CNI: '',
        Account: {
          email: '',
          password: '',
          role: 'Citizen',
        },
      },
    };
  },
  setup() {
    return {

    };
  },
  mounted() {

  },
  methods: {
    ...mapActions('register', ['register']),
    onSubmit() {
      this.Citizen.Account.password = this.Account.password;
      this.Citizen.photo = this.imageSrc;
      console.log('citizen : ', this.Citizen);
      this.register(this.Citizen);
    },
    async captureImage() {
      const image = await Camera.getPhoto({
        quality: 90,
        allowEditing: true,
        resultType: CameraResultType.DataUrl,
      });
      // image.webPath will contain a path that can be set as an image src.
      // You can access the original file using image.path, which can be
      // passed to the Filesystem API to read the raw data of the image,
      // if desired (or pass resultType: CameraResultType.Base64 to getPhoto)
      this.imageSrc = image.dataUrl;
      console.log(this.imageSrc);
      this.bool = true;
    },
  },
};
</script>
