<template>
  <div class="container">
    <div class="row bg-primary q-mt-sm text-center" style="height: 25px;color: white;">
      <div class="col-10">
        <P>personal information</P>
      </div>
      <div class="col-2 text-white q-gutter-md" style="font-size: 1.7em">
        <q-icon name="edit" @click="dialog = true" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
       <q-avatar v-if="user.data.photo === undefined" size="56px" class="q-mb-sm">
          <img src="../assets/boy-avatar.png">
        </q-avatar>
        <img v-if="user.data.photo === undefined" class="q-mt-md q-ml-sm"
          style="height: 85px;border-radius: 10%;" src="../assets/boy-avatar.png">
        <img style="height: 85px;border-radius: 10%;" class="q-mt-md q-ml-sm"
        v-if="user.data.photo !== undefined" :src="user.data.photo">
      </div>
      <div class="col-8 q-pl-sm q-pt-sm">
        <q-chip color="primary" text-color="white" icon="email">
          {{user.data.Account.email}}
        </q-chip>
        <q-chip color="primary" text-color="white" icon="phone">
          {{user.data.phone}}
        </q-chip>
        <q-chip color="primary" text-color="white" icon="event">
          {{user.data.birthdate}}
        </q-chip>
        <q-chip color="primary" text-color="white" icon="nature_people">
          {{user.data.sex}}
        </q-chip>
      </div>
      <div class="col-12">
        <q-expansion-item v-if="user.data.Address"
          v-model="expanded"
          icon="house"
          label="Address"
          :caption="user.data.lastname+' '+user.data.firstname"
        >
          <q-card>
            <q-card-section>
              <q-chip v-if="user.data.Address.country" square icon="emoji_flags">
                {{user.data.Address.country}}
              </q-chip>
              <q-chip square v-if="user.data.Address.city" icon="location_city">
                {{user.data.Address.city}}
              </q-chip>
              <q-chip square v-if="user.data.Address.district" icon="roofing">
                {{user.data.Address.district}}
              </q-chip>
              <q-chip square v-if="user.data.Address.codePostal" icon="mark_as_unread">
                {{user.data.Address.codePostal}}
              </q-chip>
              <q-chip square v-if="user.data.Address.additionalAddress" icon="info">
                {{user.data.Address.additionalAddress}}
              </q-chip>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
    </div>
    <div class="row">
      <q-dialog
        v-model="dialog"
        persistent
        :maximized="maximizedToggle"
        transition-show="slide-up"
        transition-hide="slide-down"
      >
        <q-card class="bg text-black">
          <q-bar>
            <q-space />

            <q-btn dense flat icon="minimize"
              @click="maximizedToggle = false" :disable="!maximizedToggle">
              <q-tooltip v-if="maximizedToggle"
              content-class="bg-white text-primary">Minimize</q-tooltip>
            </q-btn>
            <q-btn dense flat icon="crop_square"
              @click="maximizedToggle = true" :disable="maximizedToggle">
              <q-tooltip v-if="!maximizedToggle"
              content-class="bg-white text-primary">Maximize</q-tooltip>
            </q-btn>
            <q-btn dense flat icon="close" v-close-popup>
              <q-tooltip content-class="bg-white text-primary">
                Close
              </q-tooltip>
            </q-btn>
          </q-bar>

          <q-card-section>
            <div class="text-h6">Update the personnal infos</div>
          </q-card-section>

          <q-card-section class="q-pt-none">
            <div v-if="user.data.photo === undefined" class="col-12 q-mb-xl"
              style="height: 70px;position: absolute;left: 39%;bottom: 90%;">
              <img style="height: 70px;border-raduis:50px;"
              class="" src="../assets/boy-avatar.png">
            </div>
            <div v-if="user.data.photo !== undefined" class="col-12 q-mb-xl"
              style="height: 70px;position: absolute;left: 39%;bottom: 90%;">
              <img style="height: 70px;border-raduis:50px;"
              class="" :src="user.data.photo">
            </div>
            <div class="col-12 q-mt-xl">
              <q-item
                tag="a"
                style="color: blue;"
                @click="captureImage()"
              >
                Take a picture
              </q-item>
            </div>
            <q-form
              @submit="edit"
              class="row q-pa-md"
            >
              <q-input
                filled
                class="col-12 "
                v-model="user.data.firstname"
                label="Your firstname *"
                hint=""
                lazy-rules
              />
              <q-input
                filled
                class="col-12 "
                v-model="user.data.lastname"
                label="Your lastname *"
                hint=""
                lazy-rules
              />
              <q-input
                v-model="user.data.phone"
                class="col-12 "
                label="Your phone number *"
                filled type="tel"
                mask="# ## ## ## ##"
                hint=""
              />
              <q-input
                filled
                class="col-12 "
                v-model="user.data.CNI"
                label="Your CNI *"
                hint=""
                lazy-rules
              />
              <q-input
                filled label="birthdate *"
                class="col-7 q-mr-md q-mb-md"
                v-model="user.data.birthdate"
                mask="date"
              >
                <template v-slot:append>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                      <q-date v-model="user.data.birthdate">
                        <div class="row items-center justify-end">
                          <q-btn v-close-popup label="Close" color="primary" flat />
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
              <div class="col-4">
              Sex
                <q-btn-toggle
                  name="genre"
                  v-model="user.data.sex"
                  label="sex"
                  style=""
                  push
                  glossy class="col-4"
                  toggle-color="primary"
                  :options="[
                    {label: 'M', value: 'Man'},
                    {label: 'W', value: 'Women'}
                  ]"
                />
              </div>
              <q-select class="col-12 q-mb-md" filled
              v-model="Citizen.Address.country"
              :options="countries" label="Country" />
              <q-select class="col-12 q-mb-md" filled v-model="Citizen.Address.city"
              :options="cities" label="City" />
              <q-input
                filled
                class="col-12 q-mb-"
                v-model="Citizen.Address.district"
                label="Your district *"
                hint=""
                lazy-rules
              />
              <q-input
                filled class="col-12 q-mb-md"
                v-model="Citizen.Address.codePostal"
                label="Postal code"
                mask="AA ####"
              />
              <q-input
                v-model="Citizen.Address.additionalAddress"
                filled class="col-12 q-mb-md"
                label="Additional address"
                autogrow
              />
              <div class="col-4 q-mt-sm">
                <q-btn label="Edit" type="submit" color="primary"/>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
// import { db } from 'boot/firebase';
import { Camera, CameraResultType } from '@capacitor/camera';
import { mapActions } from 'vuex';

export default {
  name: 'Connexion',
  data() {
    return {
      imageSrc: '',
      countries: [
        'Cameroun', 'Senegale', 'Maroc', 'Tchad', 'Nigeria',
      ],
      cities: ['Yaounde', 'Douala', 'Bafoussam', 'Edéa'],
      bool: true,
      dialog: false,
      maximizedToggle: true,
      expanded: false,
      Account: {
        email: '',
        password: '',
        confirmPassword: '',
      },
      Citizen: {
        id: '',
        photo: '',
        lastname: '',
        firstname: '',
        birthdate: '',
        phone: '',
        CNI: '',
        sex: '',
        Account: {
          email: '',
          password: '',
          role: '',
        },
        Address: {
          country: '',
          city: '',
          district: '',
          additionalAddress: '',
          codePostal: '',
          latitude: '',
          longitude: '',
        },
      },
      user: null,
    };
  },
  setup() {
    return {
    };
  },
  mounted() {
    this.loadUser();
  },
  methods: {
    ...mapActions('register', ['editUser']),
    onSubmit() {
    },
    loadUser() {
      this.user = this.$q.localStorage.getItem('user');
      this.Citizen.Account = this.user.data.Account;
      if (this.user.data.Address !== undefined) {
        this.Citizen.Address = this.user.data.Address;
      }
      if (this.user.data.photo !== undefined) {
        this.Citizen.photo = this.user.data.photo;
      }
    },
    async edit() {
      console.log('user.data : ', this.user);
      this.Citizen.photo = this.user.data.photo;
      this.Citizen.lastname = this.user.data.lastname;
      this.Citizen.firstname = this.user.data.firstname;
      this.Citizen.birthdate = this.user.data.birthdate;
      this.Citizen.phone = this.user.data.phone;
      this.Citizen.sex = this.user.data.sex;
      this.Citizen.id = this.user.id;
      this.$q.localStorage.set('user', { id: this.user.id, data: this.Citizen });
      this.user = this.$q.localStorage.getItem('user');
      await this.editUser(this.Citizen);
      this.dialog = false;
    },
    async captureImage() {
      const image = await Camera.getPhoto({
        quality: 90,
        allowEditing: true,
        resultType: CameraResultType.DataUrl,
      });
      // image.webPath will contain a path that can be set as an image src.
      // You can access the original file using image.path, which can be
      // passed to the Filesystem API to read the raw data of the image,
      // if desired (or pass resultType: CameraResultType.Base64 to getPhoto)
      this.user.data.photo = image.dataUrl;
    },
  },
};
</script>
