<template>
  <q-page class="container">
    <div class="row">
      <div class="col-6" v-for="r in reports" :key="r" style="height: 100px;">
        <q-btn
          class="full-height full-width" :class="r.color" flat
        >
          {{r.label}}
        </q-btn>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data() {
    return {
      isPwd: true,
      user: {
        email: '',
        password: '',
      },
      reports: [
        {
          color: 'bg-blue-2',
          label: 'Accident',
        },
        {
          color: 'bg-blue-1',
          label: 'Security',
        },
        {
          color: 'bg-blue-1',
          label: 'Degradation',
        },
        {
          color: 'bg-blue-2',
          label: 'Aggression',
        },
        {
          color: 'bg-blue-2',
          label: 'discomfort',
        },
        {
          color: 'bg-blue-1',
          label: 'Other ...',
        },
        {
          color: 'bg-blue-1',
          label: '',
        },
        {
          color: 'bg-blue-2',
          label: '',
        },
      ],
    };
  },
  setup() {
    return {
    };
  },
  mounted() {

  },
  methods: {
    Add() {
    },
  },
};
</script>
