<template>
  <div class="container">
    <div class="container-fluid">
        <q-tabs
          v-model="tab"
          dense
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
          align="justify"
          narrow-indicator
        >
          <q-tab name="mails" label="Accepted" />
          <q-tab name="alarms" label="Waiting " />
          <q-tab name="movies" label="Refused" />
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="mails">
            <q-list >
              <q-item clickable v-ripple>
                <q-item-section avatar>
                  <q-avatar rounded>
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <div class="row">
                    <div class="col-12">Tsopfack Esame Ditrich</div>
                    <div class="col-12">
                      <q-chip square icon="phone">
                        690654321
                      </q-chip>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item clickable v-ripple>
                <q-item-section avatar>
                  <q-avatar rounded>
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <div class="row">
                    <div class="col-12">Kamsu Dylane</div>
                    <div class="col-12">
                      <q-chip square icon="phone">
                        690654321
                      </q-chip>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-tab-panel>

          <q-tab-panel name="alarms">
            <q-list >
              <q-item clickable v-ripple>
                <q-item-section avatar>
                  <q-avatar rounded>
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <div class="row">
                    <div class="col-12">Siani Audrey</div>
                    <div class="col-12">
                      <q-chip square icon="phone">
                        690654321
                      </q-chip>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item clickable v-ripple>
                <q-item-section avatar>
                  <q-avatar rounded>
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <div class="row">
                    <div class="col-12">Happy Lili</div>
                    <div class="col-12">
                      <q-chip square icon="phone">
                        690654221
                      </q-chip>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-tab-panel>

          <q-tab-panel name="movies">
            <q-list >
              <q-item clickable v-ripple>
                <q-item-section avatar>
                  <q-avatar rounded>
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <div class="row">
                    <div class="col-12">Watat Tsami Franc</div>
                    <div class="col-12">
                      <q-chip square icon="phone">
                        690652321
                      </q-chip>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
              <q-item clickable v-ripple>
                <q-item-section avatar>
                  <q-avatar rounded>
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <div class="row">
                    <div class="col-12">Kamso Yvan</div>
                    <div class="col-12">
                      <q-chip square icon="phone">
                        694654321
                      </q-chip>
                    </div>
                  </div>
                </q-item-section>
              </q-item>
            </q-list>
          </q-tab-panel>
        </q-tab-panels>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageIndex',
  data() {
    return {
      isPwd: true,
      tab: 'mails',
      user: {
        email: '',
        password: '',
      },
    };
  },
  setup() {
    return {
    };
  },
  mounted() {

  },
  methods: {
    Add() {
    },
  },
};
</script>
