<template>
  <div class="container">
    <div class="row">
      <div
        class="col-12 q-pl-md  q-pr-md q-pb-md q-pt-lg text-center text-h6">
        <p class="">
          Your alerts receive your positions
          if your tracking is not deactivated before the chosen time
        </p>
      </div>
      <div class="col-12 q-mt-md " style="margin-bottom: 6px;">
        <img
        style="margin-left:33px;"
        height="290px"
        alt="Quasar logo"
        src="~assets/mode-tracking.gif"
        >
      </div>
      <div class="col-12">
        <q-btn
          icon="share_location"
          clickable
          exact
          to="ModeTrack"
          align="around"
          outline
          label="Activate tracking mode" color="black"
          class="full-width" />
      </div>
    </div>
  </div>
</template>

<script>
</script>
