<template>
  <div class="container-fluid">
    <q-list >
      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-avatar rounded>
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar>
        </q-item-section>
        <q-item-section>
          <div class="row">
            <div class="col-12">Tsopfack Esame Ditrich</div>
            <div class="col-12">
              <q-chip square icon="phone">
                690654321
              </q-chip>
            </div>
          </div>
        </q-item-section>
      </q-item>
      <q-item clickable v-ripple>
        <q-item-section avatar>
          <q-avatar rounded>
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar>
        </q-item-section>
        <q-item-section>
          <div class="row">
            <div class="col-12">Kamsu Dylane</div>
            <div class="col-12">
              <q-chip square icon="phone">
                690654321
              </q-chip>
            </div>
          </div>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
</script>
